@model PlannerLanParty.Models.ConceptLanViewModel

@{
    ViewData["Title"] = "Create";
    @if (ViewBag.Error != null)
    {
        <h3 style="color:red">@ViewBag.Error</h3>
    }
}

<h2>Create</h2>

<h4>LanPartyConcept</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LanPartyConcept.LanPartyName" class="control-label"></label>
                <input asp-for="LanPartyConcept.LanPartyName" class="form-control" />
                <span asp-validation-for="LanPartyConcept.LanPartyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanPartyConcept.LanPartyPlace" class="control-label"></label>
                <input asp-for="LanPartyConcept.LanPartyPlace" class="form-control" />
                <span asp-validation-for="LanPartyConcept.LanPartyPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanPartyConcept.LanPartyAddress" class="control-label"></label>
                <input asp-for="LanPartyConcept.LanPartyAddress" class="form-control" />
                <span asp-validation-for="LanPartyConcept.LanPartyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <fieldset class="form-add-set">
                    <label for="sets" class="col-md-2 control-label">Dates</label>
                    <div class="col-md-10">
                        <div class="concept-dates">
                            <div class="add-sets">
                                <div class="form-inline add-set">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="LanPartyDates.First().DateID">
                                        <input type="hidden" asp-for="LanPartyDates.First().CheckkBoxAnswer">
                                        <input type="hidden" asp-for="LanPartyDates.First().LanPartyID">

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LanPartyDates.First().DateTimeStart" class="control-label">Start Date</label>
                                        <input asp-for="LanPartyDates.First().DateTimeStart" id="LanPartyDates_0__DateTimeStart" placeholder="Reps" class="form-control" onchange="checkDates()" />
                                        <span asp-validation-for="LanPartyDates.First().DateTimeStart" class="text-danger" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LanPartyDates.First().DateTimeFinish" class="control-label">End Date</label>
                                        <input asp-for="LanPartyDates.First().DateTimeFinish" id="LanPartyDates_0__DateTimeFinish" class="form-control" onchange="checkDates()"/>
                                        <span asp-validation-for="LanPartyDates.First().DateTimeFinish" class="text-danger" />
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-remove-set" data-toggle="tooltip" title="Remove Set"><span class="glyphicon glyphicon-minus"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-add-set">Add Set</button>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {

            $('.btn-remove-set').click(function (e) {
                e.preventDefault();
                $(this).parents('.add-set').remove();

                removeButton();
            });

            function removeButton() {
                if ($('.add-set').length == 1) {
                    $('.add-set .btn-remove-set').hide();
                }
            }
            window.onload = removeButton();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-add-set").click(function (e) {
                var itemIndex = $(".add-set").length;
                e.preventDefault();
                var newItem = $("<div class='form-inline add-set'>" +
                    "<div class='form-group'>" +
                    "<label name='DateTimeStart' class='control-label'>Start Date</label>" +
                    "<input type='datetime-local' id='LanPartyDates_" + itemIndex + "__DateTimeStart' name='LanPartyDates[" + itemIndex + "].DateTimeStart' class='form-control'onchange='checkDates()' />" +
                    "<span class='text-danger field-validation-valid' data-valmsg-for='DateTimeStart' data-valmsg-replace='true'></span>" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label name='DateTimeStart' class='control-label'>End Date</label>" +
                    "<input type='datetime-local' id='LanPartyDates_" + itemIndex + "__DateTimeFinish' name='LanPartyDates[" + itemIndex + "].DateTimeFinish' class='form-control' onchange='checkDates()'/>" +
                    "<span class='text-danger field-validation-valid' data-valmsg-for='DateTimeFinish' data-valmsg-replace='true'></span>" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<button class='btn btn-remove-set' type='button' data-toggle='tooltip' title='Remove Set'><span class='glyphicon glyphicon-minus'></span></button>" +
                    "</div>" +
                    "</div>");
                $('.add-set .btn-remove-set').show();
                $(".add-sets").append(newItem);
            });

            $(document).on('click', '.add-set .btn-remove-set', function (e) {
                e.preventDefault();
                $(this).parents('.add-set').remove();

                removeButton();
            });


            function removeButton() {
                if ($('.add-set').length == 1) {
                    $('.add-set .btn-remove-set').hide();
                }
            }

          

        });
    </script>
    <script>
        function checkDates() {
            var sumDates = $('.add-set').length;
            console.log(sumDates);
            var i;
            for (i = 0; i < sumDates; i++) {

                var start = document.getElementById("LanPartyDates_" + i + "__DateTimeStart").value;
                var end = document.getElementById("LanPartyDates_" + i + "__DateTimeFinish").value;

                if (start >= end) {
                    document.getElementById("LanPartyDates_" + i + "__DateTimeFinish").style.color = "red";
                    $('.btn-primary').hide();
                }
                else {
                    document.getElementById("LanPartyDates_" + i + "__DateTimeFinish").style.color = "";
                    $('.btn-primary').show();

                }

                
            }

        }
    </script>
}
