@model PlannerLanParty.Models.TournamentViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tournament.TournamentName" class="control-label"></label>
                <input asp-for="Tournament.TournamentName" class="form-control" />
                <span asp-validation-for="Tournament.TournamentName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <fieldset class="form-add-set">
                    <label for="sets" class="col-md-12 control-label">Games</label>
                    <div class="col-md-12">
                        <div class="concept-dates">
                            <div class="add-sets">
                                <div class="form-inline add-set">
                                    <div>
                                        <div class="form-group col-md-10">
                                            <label asp-for="TournamentGamesList[0].GameName" class="col-md-2 control-label"></label><br />
                                            <div class="col-md-12">
                                                <select asp-for="TournamentGamesList[0].GameName" asp-items="@Model.GameList"></select>
                                            </div>
                                            <span asp-validation-for='TournamentGamesList[0].GameName' class='text-danger' />
                                        </div>

                                        <div class="form-group col-md-2" style="margin-top:3%;">
                                            <button class="btn btn-remove-set" data-toggle="tooltip" title="Remove Set"><span class="glyphicon glyphicon-minus"></span></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-add-set" style="margin-top:5%;">Add Set</button>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-add-set").click(function (e) {
                var itemIndex = $(".add-set").length;
                e.preventDefault();
                var newItem = $("<div class='add-set'>" +
                    "<div>" +
                    "<div class='form-group col-md-10'>" +
                    "<label id='TournamentGamesList_" + itemIndex + "__GameID' name='TournamentGamesList[" + itemIndex + "].GameName' class='col-md-2 control-label'></label>" +
                    "<div class='col-md-12'>" +
                    "<select id='TournamentGamesList_" + itemIndex + "__GameName' name='TournamentGamesList[" + itemIndex + "].GameName''>" +
                    "@{ foreach (var game in Model.GameList ) {<option value='@game.Value'>@game.Text</option> <h1> @game.Value</h1> } }" +
                    "</select>" +
                    "</div>" +
                    "<span id='TournamentGamesList_" + itemIndex + "__GameID' name='TournamentGamesList[" + itemIndex + "].GameName' class='text-danger' />" +
                    "</div>" +
                    "<div class='form-group col-md-2'>" +
                    "<button class='btn btn-remove-set' type='button' data-toggle='tooltip' title='Remove Set'><span class='glyphicon glyphicon-minus'></span></button>" +
                    "</div>" +
                    "</div>");
                $('.add-set .btn-remove-set').show();
                $(".add-sets").append(newItem);
            });

            $(document).on('click', '.add-set .btn-remove-set', function (e) {
                e.preventDefault();
                $(this).parents('.add-set').remove();

                removeButton();
            });


            function removeButton() {
                if ($('.add-set').length == 1) {
                    $('.add-set .btn-remove-set').hide();
                }
            }



        });
    </script>
}
