body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.col-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top-space{
    margin-top: 1%;
}

.col {
    flex: 1;
    padding: 16px;
}



.navbar {
    background: linear-gradient(to bottom right, #003366, #33ccff);
}

.navbar-brand {
    color: white !important
}

    .navbar-brand:hover {
        color: darkred
            !important
    }

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: darkred;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
